@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Montserrat:wght@300&family=Pacifico&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 auto;
}

/* max-width 

Se a tela tiver menos que 600px, ou seja 600px pra baixa ( valor < 600px )

*/


@media screen and (max-width: 600px) {

  .menu-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cards, .newsletter, .footer {
    flex-flow: column nowrap !important;
    align-items: center;
  }
  
}

/* min-width */
@media screen and (min-width: 900px) {

}

/* min & max-width */
@media screen and (max-width: 600px) and (min-width: 900px) {

}

.menu-principal {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgb(212, 209, 209);
  padding: 10px;
  justify-content: space-around;
  z-index: 1;
  margin-top: -25px;
}

.menu-principal #logo-principal {
  border-radius: 100%;
}

.menu-principal #form-input {
  width: 50vw;
  height: 25px;
  padding: 10px;
  background-image: url(/assets/search\ icon\ 4.png);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
  border-style: none;
}

.elementos-menu,
.menu-principal #form-input {
  margin-top: 25px;
}

.cards {
  top: 180px;
  position: relative;
  margin: 25px 25px;
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
}

.cards .livro {
  padding: 25px;
}

.container-titulo .imagem-livro {
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-titulo,
.container-sinopse,
.container-sinopse .titulos {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.container-sinopse {
}

.container-autoria {
}

.container-autoria .imagem-autor {
  border-radius: 5px;
}

.container-marketing {
}

.button-comprar {
  position: relative;
  padding: 10px;
  background-color: rgb(212, 209, 209);
  top: 25px;
  text-decoration: none;
  border-radius: 5px;
}

.newsletter {
  height: 300px;
  position: relative;
  top: 250px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 5px;
  background-color: rgb(233, 233, 233);
  color: rgb(93, 13, 146);
}

.newsletter .newsletter-itens {
  padding: 10px;
  margin: 25px 25px;
}

.newsletter #titulo-newsletter {
  font-size: 50px;
  font-weight: 700;
}

.newsletter #subtitulo-newsletter {
  font-weight: 200;
}

.newsletter #newsletter-button {
  text-transform: uppercase;
  font-size: 25px;
  position: relative;
  padding: 10px;
  background-color: rgb(93, 13, 146);
  top: 25px;
  width: 50px;
  height: 15px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}

.footer {
  height: 300px;
  position: relative;
  top: 250px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.footer .footer-itens {
  padding: 10px;
  margin: 25px 25px;
  text-align: center;
}

.footer .footer-itens p {
  text-align: center;
  padding: 15px;
}

.footer .autoria {
  position: absolute;
  color: white;
  text-decoration: none;
  top: 300px;
}
