* {
  font-family: "Anton", sans-serif;
  margin: 0 0 auto;
}

.menu-principal {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: rgb(212, 209, 209);
  padding: 10px;
  justify-content: space-around;
  z-index: 1;
  margin-top: -25px;
}

.menu-principal #logo-principal {
  border-radius: 100%;
}

.menu-principal #form-input {
  width: 50vw;
  height: 25px;
  padding: 10px;
  background-image: url(/assets/search\ icon\ 4.png);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
  border-style: none;
}

.elementos-menu,
.menu-principal #form-input {
  margin-top: 25px;
}

.cards {
  top: 180px;
  position: relative;
  margin: 25px 25px;
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
}

.cards .livro {
  padding: 25px;
}

.container-titulo .imagem-livro {
  border-radius: 5px;
}

.container-titulo .titulos {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-sinopse {
}

.container-autoria {
}

.container-autoria .imagem-autor {
  border-radius: 5px;
}

.container-marketing {
}

.footer {
  position: relative;
  top: 360px;
  margin: 25px 25px;
}
