@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Montserrat:wght@300&family=Pacifico&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0 0 auto;
}

@media screen and (max-width: 350px)  {
  .menu-principal {
    display: block;
  }
  
}

